@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(4, 121, 160);
  transition: 0.4s;
}
h1 {
  color: #eeeeee;
  font-size: 5rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
